@media (max-width: 768px) {
    .menu-hidden {
        display: none;
    }
    .mobile-margin {
        margin: 10px;
    }
}

@media (min-width: 769px) {
    .skill-margin {
        margin-left: 10em;
        margin-right: 10em;
    }

}